<h2>
  {{model.name}}
  <small>{{#link-to 'categories.show' model.category}}
      ({{model.category.name}})
  {{/link-to}}</small>
</h2>

<p>
  {{#link-to 'products.edit' model class='btn-sm'}}Edit Product{{/link-to}}
  <a class='btn-sm danger' href="#" {{action "deleteAndGo" model 'products'}}>Delete</a>
</p>

<p>{{model.description}}</p>

{{outlet}}

{{#if model.productVariants}}
  <table>
    <caption><h3>Product Variants</h3></caption>
    {{product-variants/variant-table variants=model.productVariants}}
  </table>
{{/if}}
