<h2>
  {{model.name}}
  <small>{{#link-to 'categories.show' model.category}}
      ({{model.category.name}})
  {{/link-to}}</small>
</h2>

<p><a class='btn-sm danger' href="#" {{action "delete" model}}>Delete</a></p>

<p>{{model.description}}</p>

{{outlet}}

{{#if model.productVariants}}
  <table>
    <caption><h3>Product Variants</h3></caption>
    {{product-variants/variant-table variants=model.productVariants}}
  </table>
{{/if}}
