<tr {{action 'clickProduct'}}>
  <td>{{#link-to 'products.show' product}}{{product.name}}{{/link-to}}</td>
  <td>{{#link-to 'categories.show' product.category}}{{product.category.name}}{{/link-to}}</td>
  <td>{{product.isOrganic}}</td>
  <td>{{product.isHeirloom}}</td>
  <td>{{product.isSouthEast}}</td>
  <td>{{product.isActive}}</td>
</tr>
{{#if showVariants}}
  {{product-variants/variant-table variants=product.productVariants}}
  <tr><td colspan="6">&nbsp;</td></tr>
{{/if}}
