<tr {{action 'clickProduct'}}>
  <td>{{product.name}}</td>
  <td>{{product.category.name}}</td>
  <td>{{product.isOrganic}}</td>
  <td>{{product.isHeirloom}}</td>
  <td>{{product.isSouthEast}}</td>
  <td>{{product.isActive}}</td>
</tr>
{{#if showVariants}}
  <tr class='variant-header'>
    <td colspan="3" class='hide-border'></td>
    <th>SKU</th>
    <th>Weight</th>
    <th>Price</th>
  </tr>
  {{#each product.productVariants as |variant|}}
    <tr class='variant-row'>
      <td colspan="3" class='hide-border'></td>
      <td>{{variant.sku}}</td>
      <td>{{variant.weight}}</td>
      <td>{{variant.price}}</td>
    </tr>
  {{/each}}
  <tr><td colspan="6">&nbsp;</td></tr>
{{/if}}
