<tr {{action 'clickProduct'}}>
  <td>{{#link-to 'products.show' product}}{{product.name}}{{/link-to}}</td>
  {{#if showCategory}}
    <td>{{#link-to 'categories.show' product.category}}{{product.category.name}}{{/link-to}}</td>
  {{/if}}
  <td>{{product.isOrganic}}</td>
  <td>{{product.isHeirloom}}</td>
  <td>{{product.isSouthEast}}</td>
  <td>{{product.isActive}}</td>
</tr>
{{#if showVariants}}
  <tr class='variant-header'>
    <td colspan="{{ colSpacing }}" class='hide-border'></td>
    <th>SKU</th>
    <th>Weight</th>
    <th>Price</th>
  </tr>
  {{#each product.productVariants as |variant|}}
    <tr class='variant-row'>
      <td colspan="{{ colSpacing }}" class='hide-border'></td>
      <td>{{variant.sku}}</td>
      <td>{{variant.weight}}</td>
      <td>{{variant.price}}</td>
    </tr>
  {{/each}}
  <tr><td colspan="{{ totalWidth }}">&nbsp;</td></tr>
{{/if}}
