<form {{action "save" on="submit"}}>
  <span class='form-error'>{{errorMessage}}</span>
  {{#form-input errors=model.errors.name fieldLabel='Name'}}
    {{input value=model.name}}
  {{/form-input}}
  {{#form-input errors=model.errors.description fieldLabel="Description"}}
    {{textarea value=model.description}}
  {{/form-input}}
  {{#form-input errors=model.errors.parent fieldLabel="Parent Category"}}
    {{#power-select selected=model.parent
                    options=validParents
                    onchange=(action (mut model.parent)) as |category|}}
      {{category.name}}
    {{/power-select}}
  {{/form-input}}
  <input type="submit" value="Save" />
  <button {{action "cancel"}}>Cancel</button>
</form>
